body {
    font-family: arial, sans-serif;
  }
.weather-app{
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 7px;
}
h1{
    font-weight: bold;
    color:rgb(68, 66, 66);
    font-size: 25px;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }
  li:first-letter {
    text-transform: capitalize;
  }
.weather-temperature img {
    margin-left: 5px;
    height: 64px;
    width: 64px;
  }
.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
    margin-left: 10px;
  }
ul {
    margin: 0;
    padding: 0;
  }
  .weather li {
    list-style: none;
    color: rgba(39,33,66,.4);
    font-size: 16px;
    font-weight:100 ;
    line-height: 19px;
    margin: 0;
    padding: 0;
  }
  .weather footer{
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    line-height: 18px;
    
  }
  .overview{
      margin-bottom:20px;
  }
  